/* GENERAL RULES  */

* {
    padding: 0;
    margin: 0;
    font-family: sans-serif;
    box-sizing: border-box;
}



.container {
    width: 70%;
    height: 800px;
    margin: 40px auto;
}

/* PRODUCT LAYOUT */

.col {
    display: inline-block;
    width: 32%;
    margin-right: 10px;
    margin-bottom: 40px;
    
}
.product {
    position: relative;
}

.product img {
    width: 100%;
}

.product img:last-of-type {
    display: none;
}

.brand{
font-size: 13px;   
}

.name {
    font-size: 18px;
    font-weight: bold;
}

.price span:first-child {
    font-size: 16px;
    font-weight: bold;
    color: red;
}

.price span:nth-of-type(2) {
    font-size: 16px;
    text-decoration: line-through;
}

/* BADGES  */

.bg-1{
    background-color: #eb0037;
}

.bg-2{
    background-color: #00875a;
}

.badges{
position: absolute;
bottom: 30px;
}

.badges span{
    font-size: 12px;
    color: white;
    padding: 5px;
    font-weight: bold;;
}

.like {
    position: absolute;
    top: 20px;
    right: 0;
    background-color: white;
    width: 40px;
    height: 40px;
    text-align: center;
    line-height: 40px;
}

.like span {
    font-size: 20px;   
}

/* HOVER RULES  */

.product:hover img:last-of-type{
    display: inline-block;
}

.product:hover img:first-of-type{
    display: none;

}

.like:hover span {
    color:red;
    cursor: pointer;
}











